<h1>Basic Jobsite</h1>

<p>Search
<%= form_tag "/search", :method => :get, "data-remote" => "true", :id => "job-search" do %>
<%= text_field_tag :q %>
<% end %>
</p>

<ul id='jobs'>
<%= render @listings %>
</ul>

<script id="listings-template" type="text/x-handlebars-template">
  {{#each listings}}

  <li>

   <a href="/listings/{{_id}}">{{title}}</a> <br/>

   {{position }} - {{ company }} ({{ city }}, {{ country }})

  </li>
  {{/each}}
</script>
