<% if form_errors.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(form_errors.errors.count, "error") %> prohibited this form from being saved:</h2>

		<ul>
		<% form_errors.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>
